<%= render 'partial/header.html.html.erb', :locals => { :body_class => 'cases' } %>
<%= render 'partial/header.site.html.erb' %>

<div class="banner img">Photo 1120x400</div>

<section class="fixed-nav-list">

  <div class="sidebar-fixed">
    <nav data-spy="affix" data-offset-top="400">
      <div class="sidebar-container" id="navbar">
        <header>
          <h4>Customer Cases</h4>
        </header>
        <ul class="nav">
          <li><a href="#top">Sign on touch device</a></li>
          <li><a href="#case-send">Send for signature</a></li>
          <li><a href="#case-integrate">Integrate on website</a></li>
        </ul>
      </div>
    </nav>
  </div><!--sidebar-fixed-->

  <div class="articles">
    <section id="case-sign">
      <header>
        <h1>Sign on touch device</h1>
        <p>All our features are built on the Haskell framework, a rock-solid code-base perfected over time through blood, sweat and tears.</p>
      </header>
      <%= render 'media/case-video.html.erb', :locals => { :title => "Sign on touch device video"} %>
      <% (1..3).each do |i| %>
        <%= render 'media/case.html.erb', :locals => { :title => "Sign on touch device case"} %>
      <% end %>
    </section>
    <section id="case-send">
      <header>
        <h1>Send for signature</h1>
        <p>All our features are built on the Haskell framework, a rock-solid code-base perfected over time through blood, sweat and tears.</p>
      </header>
      <%= render 'media/case-video.html.erb', :locals => { :title => "Send for signature video"} %>
      <% (1..3).each do |i| %>
        <%= render 'media/case.html.erb', :locals => { :title => "Send for signature case"} %>
      <% end %>
    </section>
    <section id="case-integrate">
      <header>
        <h1>Integrate into website</h1>
        <p>All our features are built on the Haskell framework, a rock-solid code-base perfected over time through blood, sweat and tears.</p>
      </header>
      <%= render 'media/case-video.html.erb', :locals => { :title => "Integrate into website video"} %>
      <% (1..3).each do |i| %>
        <%= render 'media/case.html.erb', :locals => { :title => "Integrate into website case"} %>
      <% end %>
    </section>
  </div>
</section>

<%= render 'partial/section.signup.html.erb' %>

<%= render 'partial/footer.site.html.erb' %>
<%= render 'partial/footer.html.html.erb' %>
