<%= render 'partial/header.html.html.erb', :locals => { :body_class => 'index index1' } %>
<%= render 'partial/header.site.html.erb' %>
<%= render 'partial/section.case-video.html.erb' %>

<section class="article-summaries">
<div class="article summary one">
  <div class="container">
    <div class="text">
      <h2>Attract and reward</h2>
      <div class="body">
        <p>Scrive makes it easy for people to discover and learn about your business. In minutes customize a rewards program that gets people in the door and keeps them coming back. <a class="read-more" href="article.html">Read more &rsaquo;</a></p>
      </div><!--body-->
    </div><!--text-->
    <%= render 'media/ipad.html.erb', :locals => { :size => 'max' } %>
  </div>
</div>

<div class="article summary two image">
  <div class="container">
    <div class="text">
      <h2>With simple interface</h2>
      <div class="body">
        <p>Scrive makes it easy for people to discover and learn about your business. In minutes customize a rewards program that gets people in the door and keeps them coming back. <a class="read-more" href="article.html">Read more &rsaquo;</a></p>
      </div><!--body-->
    </div><!--text-->
    <%= render 'media/mbp.html.erb', :locals => { :size => 'max' } %>
  </div>
</div>

<div class="article summary three">
  <div class="container">
    <%= render 'media/ipad.html.erb', :locals => { :size => 'max' } %>
    <div class="text">
      <h2>Attract and reward</h2>
      <div class="body">
        <p>Scrive makes it easy for people to discover and learn about your business. In minutes customize a rewards program that gets people in the door and keeps them coming back. <a class="read-more" href="article.html">Read more &rsaquo;</a></p>
      </div><!--body-->
    </div><!--text-->
  </div>
</div>

<div class="article summary two">
  <div class="container">
    <div class="text">
      <h2>Filler text here</h2>
      <div class="body">
        <p>Scrive makes it easy for people to discover and learn about your business. In minutes customize a rewards program that gets people in the door and keeps them coming back. <a class="read-more" href="article.html">Read more &rsaquo;</a></p>
      </div>
    </div>
  </div>
</div>
</section>

<section class="simple load-more">
  <p><a href="#">Load more &rsaquo;</a></p>
</section>

<%= render 'partial/footer.site.html.erb' %>
<%= render 'partial/footer.html.html.erb' %>
