<%= render 'partial/header.html.html.erb', :locals => { :body_class => 'index index2' } %>
<%= render 'partial/header.site.html.erb' %>

<div class="container site">
  <%= render 'partial/use-case-video.html.erb' %>
  <%= render 'partial/section.cta.html.erb' %>
</div>

<%= render 'partial/footer.html.html.erb' %>
