<%= render 'partial/header.html.html.erb', :locals => { :body_class => 'learn-more' } %>
<%= render 'partial/header.site.html.erb' %>

<div class="content site use-cases">
  <%= render 'partial/use-cases.tabs.html.erb' %>
</div>

<%= render 'partial/learn-more.html.erb' %>

<div class="article summary one">
  <div class="container">
    <div class="text">
      <h2>Attract and reward</h2>
      <div class="body">
        <p>Scrive makes it easy for people to discover and learn about your business. In minutes customize a rewards program that gets people in the door and keeps them coming back. <a class="read-more" href="#">Read more &rsaquo;</a></p>
      </div><!--body-->
    </div><!--text-->
    <div class="model ipad max">
      <div class="camera"></div>
      <div class="screen"></div>
    </div>
  </div>
</div>

<div class="article summary two image">
  <div class="container">
    <div class="text">
      <h2>With simple interface</h2>
      <div class="body">
        <p>Scrive makes it easy for people to discover and learn about your business. In minutes customize a rewards program that gets people in the door and keeps them coming back. <a class="read-more" href="#">Read more &rsaquo;</a></p>
      </div><!--body-->
    </div><!--text-->
    <div class="model mbp max">
      <div class="lid">
        <div class="screen"></div>
      </div>
      <div class="base"></div>
      <div class="bottom"></div>
    </div>
  </div>
</div>

<div class="article summary three">
  <div class="container">
    <div class="model ipad max">
      <div class="camera"></div>
      <div class="screen"></div>
    </div>
    <div class="text">
      <h2>Attract and reward</h2>
      <div class="body">
        <p>Scrive makes it easy for people to discover and learn about your business. In minutes customize a rewards program that gets people in the door and keeps them coming back. <a class="read-more" href="#">Read more &rsaquo;</a></p>
      </div><!--body-->
    </div><!--text-->
  </div>
</div>

<div class="article summary two">
  <div class="container">
    <div class="text">
      <h2>Filler text here</h2>
      <div class="body">
        <p>Scrive makes it easy for people to discover and learn about your business. In minutes customize a rewards program that gets people in the door and keeps them coming back. <a class="read-more" href="#">Read more &rsaquo;</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container load-more">
  <a href="#">Load more &rsaquo;</a>
</div>

<%= render 'partial/footer.site.html.erb' %>
<%= render 'partial/footer.html.html.erb' %>
