<%= render 'partial/header.html.html.erb' %>
<%= render 'partial/header.site.html.erb' %>

<div class="content site use-cases">
  <%= render 'partial/use-cases.tabs.html.erb' %>
</div>

<%= render 'partial/call-to-action.html.erb' %>
<%= render 'partial/footer.html.html.erb' %>
